/*-------
CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*----------------------------------
-------------MY STYLES----------------
------------------------------------*/
:root {
    --mypadding: 2.5rem;
    --mymargin: 2.5rem;
    --mybackground: white;
    --myborder: solid 2px rgba(0, 0, 0, .05);
    --myfont: 14px arial, sans-serif;
    --mytextcolour: darkgray;
    --my-container-title: bold 2.5em;
    --aside-width: 8%;

    --logo-height: 4rem;
    --nav-containers-height: var(--logo-height);
}

* {
    font: var(--myfont);
    color: var(--mytextcolour);
    box-sizing: border-box;
    letter-spacing: 1px;
}


a {
    font: var(--myfont);
    color: darkgray;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#tabs,
#tiles,
#table {
    cursor: default;
}

#tile,
#table,
#tabs {
    padding: 2rem;
}

h3 {
    color: black;
}

.container {
    border: var(--myborder);
    background: var(--mybackground);
    margin-bottom: 1.5rem;
}

.container h3 {
    text-transform: capitalize;
    font: var(--my-container-title);
    margin-bottom: 1rem;
}

/*-------
HEADER*/
#header {width:100%;}
#header {
    position: fixed;
    padding-top: 1.5rem;
    margin-left: var(--aside-width);
    width: calc(100% - var(--aside-width));
    padding-right: var(--mypadding);
    padding-left: var(--mypadding);
    background: white;
    box-shadow: 300px 0 0 white, 0 2px 4px lightgray;
}

#nav {
    margin-top: 0;
    height: var(--nav-containers-height);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;

}

#nav > ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
}

#nav>ul>li {
    padding-right: 2rem;
}

#nav li:last-of-type {
    background: lightgray;
    padding: 1em 4em;
    color: white;
    cursor: pointer;
}

#nav li:last-of-type>a {
    color: white;
}

/*-------
BREADCRUMB SECTION*/
#breadcrumb {
    height: var(--nav-containers-height);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

#breadcrumb>ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
        flex-direction: row;
}

#breadcrumb>ul>li {
    padding-right: 1rem;
}

#breadcrumb>ul>li:not(:first-of-type):before {
    display: inline-block;
    content: ">";
    margin-right: 1rem;
}

#breadcrumb>ul>li:last-of-type>a {
    font-weight: bold;
    text-decoration: underline;
}






/*-------
SEARCH FIELD*/
#search {
    position: relative;
}

#search>input {
    padding-left: 2.5rem;
    border: none;
    font: var(--myfont)
}

#search>input:focus {
    outline: none;
}

#magnifying-glass {
    position: absolute;
    left: 1rem;
    font-size: 2.5em;
    /* This controls the size. */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border: 0.2px solid darkgray;
    position: relative;
    border-radius: 50%;
}

#magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: darkgray;
    width: 0.35em;
    height: 0.08em;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}





/*-------
ASIDE*/
#aside {
    width: var(--aside-width);
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 1.25rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-align: center;
        align-items: center;

}

#aside img {
    max-width: 60px;
}

#aside.container {
    padding-top: 1.5rem;
}

#aside>ul>li {
    margin-top: 1.25rem;
    border-radius: 50%;
}

#aside>ul>li a {
    padding-bottom: 0;
    margin-bottom: 1rem;
    height: 100%;
}

#aside>ul>li a img {
    border: 2px lightgray solid;
    border-radius: 50%;
    width: 49px;
}

#logo,
#logo-mobile {
    max-width: 80px;
}

#logo {
    height: var(--logo-height);
    margin-top: 0;
    margin-bottom: 2.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
}







/*-------
MAIN*/

#grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

#main {
    margin-left: var(--aside-width);
    padding: var(--mypadding);
    padding-top: calc(var(--mypadding) + var(--nav-containers-height)*2);
    background-color: rgba(0, 0, 0, .03)
}



/*-------
TABS*/

.switch-list-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 1px lightgray solid;
    padding: 1rem 0 .75rem .25rem;
}

.switch-list-item img {
    min-width: 39px;
    width: 4em;
}

.switch-list-item>div {
    padding-left: .75rem
}

.switch-list-item>span {
    font-size: .75em;
    background: lightgray;
    padding: 0.5em 1em;
    color: white;
}

.switch-list-item-desc {
    padding-bottom: .25em;
}

.switch-list-item-time {
    font-weight: lighter;
    font-size: 1em;
}

#switcher {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    border-bottom: 1px lightgray solid;
    cursor: pointer;
}

#switcher>span {
    font: var(--myfont);
    color: darkgray;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#switcher>span.active {
    font: var(--myfont);
    font-weight: bolder;
    color: darkgray;
    border-bottom: solid black 1px;
}

.result {
    max-height: 0;
    overflow: hidden;
}

.result.sel {
    max-height: 100000px;
}


/*-------
TILES*/
#tiles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.tile img {
    min-width: 39px;
    width: auto;
    height: 5.25em;
}

.tile>div {
    text-align: right;
}

.tile h2 {
    font-size: 2.5em;
    padding-bottom: .5em;
    color: black;

}

.tile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: 1.5rem;
}

.tile>div {
    margin-right: 1rem;
}

.tile>div>p {
    text-transform: uppercase;
}






/*-------
TABLE SECTION*/
#table {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
}

table {
    width: 100%;
}


td {
    padding: 1rem 1rem .75rem .25rem;
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, .02)
}

td:hover {
    background-color: rgba(0, 0, 0, .04)
}

th {
    font-weight: bold;
}

tr {
    border-bottom: 1px lightgray solid;
    padding: 1rem 0 .75rem .25rem;
    height: 2.5rem;
    text-align: left;
}






/*-------
MOBILE*/
#burger {
    display: -ms-flexbox;
    display: flex;
    max-height: 0;
    visibility: hidden;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-right: var(--mypadding);
    padding-left: var(--mypadding);
    background: darkgray;
    box-shadow: 300px 0 0 white, 0 2px 4px lightgrey;
}

#menu-burger>div {
    width: 45px;
    height: 0.25em;
    background: white;
}

#menu-burger {
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
}


@media only screen and (max-width: 1280px) {
    .tile img {
        width: 4.25em;
    }

    .tile h2 {
        padding-bottom: .25em;

    }

    .switch-list-item-time {
        font-size: .75em;
    }
}

@media only screen and (max-width: 1180px) {
    .tile img {
        width: auto;
    }

    #grid {
        display: block;
    }

    .tile {
        margin-left: 0;
        min-height: 16em;
    }

    #tiles {
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5em;
    }
}

@media only screen and (max-width: 900px) {

    html,
    body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 800px) {
    #burger {
        max-height: 15000000px;
        visibility: visible;
        top: 0;
        left: 0;
        height: 96px;
    }

    #logo-mobile>img {
        width: 4em;
    }

    #header,
    #aside {
        display: none;
    }

    #main {
        margin-left: 0;
    }
}

@media only screen and (max-width: 570px) {
    .tile img {
        width: 4.25em;
        height: 4.25em;
    }

    .tile h2 {
        padding-bottom: .25em;

    }

    .switch-list-item-time {
        font-size: .75em;
    }

    #table {
        overflow: scroll;
        min-width: 480px;
    }
}

@media only screen and (max-width: 500px) {
    #tiles {
        display: block;
    }
}